//- Use the presentation layout so we can keep this clean
extends layouts/presentation

block append config
  -
    config.theme = 'lengstorf';
    config.title = 'Progressive Web Apps';
    config.description = 'Looks Like Vegetables; Tastes Like Victory';
    config.slidesLink = 'https://code.lengstorf.com/presentation/progressive-web-apps/slides/';

    config.author = {
      name: 'Jason Lengstorf',
      email: 'jason@lengstorf.com',
      link: 'https://code.lengstorf.com/',
      twitter: 'jlengstorf',
      github: 'jlengstorf',
    };
    
    config.slides = {
      link: 'https://git.io/v9tEr',
    };

    config.conference = {
      hashtag: false,
      twitter: false,
    };
  -

//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1= config.title
    h3= config.description
    
    p by 
      a(href= config.author.link)= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email
    
    p
      small Slides: #[a(href= config.slides.link)= config.slides.link.replace('https://', '')]

  //- Front-matter stuff
  //- +slide.u--align-left.u--text-light.u--text-shadow(data-background="url(./images/bear-background@2x.jpg)")
    h2 Who I Am
    ul
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 

    aside.notes.
      This joke is so terrible. You should be ashamed of yourself.

  //- +slide.u--align-left.u--text-light.u--text-shadow(data-background="url(./images/jason-lengstorf-slide-bg@2x.jpg)")
    h2 Who I Am
    ul.full-width
      li.fragment Building web things since 2003
      li.fragment #[em Huge] process &amp; efficiency nerd
      li.fragment Work-life balance advocate / consultant
      li.fragment Senior developer at IBM
      li.fragment Author of 3 books on development stuff
      li.fragment World champion purveyor of bear hugs


  
  
  //- INTRO
  +slide
    h2 How much does your website
      span.hugify(style="font-size: 280%") #[strong cost]?
  
  +slide
    h3 We measure cost in seconds:
    img.no-margin(
      src="images/progressive-web-apps/load-cost-seconds.svg"
      alt="seconds to load popular websites"
    )
    p.no-margin
      small Source: Time To Interactive from Lighthouse. I ran the test twice and took the faster time.

  +slide
    h3 Time isn’t the only cost
    blockquote.twitter-tweet(data-lang="en")
      p(lang="en" dir="ltr")
        a(href="https://twitter.com/Una") @Una
        | Yes. On a recent trip to the US I spent $7 to load the conference homepage on my iPhone.
      | &mdash; Roy Tomeij (@roy) 
      a(href="https://twitter.com/roy/status/861563195424681985") May 8, 2017
    script(async src="//platform.twitter.com/widgets.js" charset="utf-8")

  +slide
    h2 Mobile Data Can Be #[strong.hugify Expensive]
  
  +slide
    h1(style="font-size: 420%") $2.05/MB
    p
      small Price in USD for a #[a(href="https://www.att.com/offers/international-plans/compare-options.html") US-based AT&amp;T customer traveling internationally].
    
    aside.notes.
      Roy Tomeij
      #[a(href="https://twitter.com/roy/status/861589144123920384") pays USD $2.74 per MB] 
      on his Netherlands-based plan while traveling abroad.

  +slide
    h3 Websites are getting larger
    img.no-margin(
      src="images/progressive-web-apps/page-size-trend.svg"
      alt="website size from 2012 to 2017"
    )
    p.no-margin
      small Source: 
        a(
          href="http://httparchive.org/trends.php?s=All&minlabel=Mar+15+2012&maxlabel=Apr+15+2017#bytesTotal&reqTotal"
        ) HTTP Archive

  +slide
    h3 Would you #[strong pay $10]#[br]to load this website?
    img.no-margin(
      src="images/progressive-web-apps/new-yorker.png"
      alt="cost in USD to load popular websites"
    )

    aside.notes
      ul
        li Twitter: $0.21 (0.1 MB)
        li Google: $0.61 (0.3 MB)
        li Facebook: $1.23 (0.6 MB)
        li Smashing Conf: $1.23 (0.6 MB)
        li OSCON: $12.01 (5.9 MB)
        li CSS Dev Conf: $30.14 (14.7 MB)

  +slide
    h2 Also: loading huge sites on mobile just 
      strong(style="font-size: 345%;") sucks
    
    aside.notes.
      They’re slow, they jump all over, and if you’re on a train or in an 
      elevator, they fail and give errors if the connection stutters.
  
  +slide
    img(
      src="images/progressive-web-apps/no-connection.png"
      alt="Chrome’s no connection screen"
      style="width: 80%;"
    )
    p.no-margin ...and what if the connection is flaky?

    aside.notes.
      On less reliable connections, the site might not load at all, or it’ll time
      out and end up on the “no connection” screen.

  +slide
    h1 We Can Fix It!
    p
      small.fragment (And it doesn’t mean starting from scratch.)
  
  +slide
    h3 The Solution:
    h1
      em Progressive Web Apps

  +slide
    h3 With Progressive Web Apps (PWAs), we can:
    ol
      li.fragment Significantly decrease the amount of data transferred on each page load
      li.fragment Improve the experience for users on unreliable connections

  +slide
    img(
      src="images/progressive-web-apps/boooooring.gif"
      alt="boooooring"
      style="width: 100%;"
    )
    h3 Booooooooooooooring!
  
  +slide
    h4 “That’s not my target market.”

    aside.notes.
      PWAs seem like a lot of work to help users that may not be in your 
      demographic. And a lot of the language around PWAs mentions international
      markets with flaky internet and poor infrastructure, so that’s not really
      an unfair thing to believe.

  +slide
    img(
      src="images/progressive-web-apps/eat-your-veggies.gif"
      alt="eat your veggies"
      style="width: 100%;"
    )
    
    aside.notes.
      The checklist to meet “Progressive Web App” standards isn’t
      short, and a lot of the items on the list seem pretty complicated to 
      implement. Adding PWA features to an app might sound an awful lot like 
      being told to eat your vegetables.

  +slide
    h3 Can’t we just #[strong ignore] PWAs?

  +slide
    h1 Nope

  +slide
    h2 Here’s why:
    ul
      li.fragment PWAs decrease load times on #[strong all] connections
      li.fragment Perceived load times improve
      li.fragment Stability improves for mobile users everywhere
      li.fragment User experience is better all around
    
    aside.notes.
      By caching resources, repeat visists and navigating to new pages is 
      lightweight — and it’s #[em fast]. It eliminates HTTP requests, so 
      stability improves. And with all that combined, the user experience gets
      better — even for users on high-speed connections.

  +slide
    img(
      src="images/progressive-web-apps/bacon.gif"
      alt="bacon"
    )
    h3 That sounds #[em significantly more awesome] than eating vegetables.

  +slide
    h4 “Okay, okay — I believe you, but#[br]#[strong I don’t have time] to rewrite my app!”

  +slide
    h3 We #[em don’t] have to#[br]start from scratch.

  +slide
    h4 Let’s turn this app into a PWA:
    img(
      src="images/progressive-web-apps/bear-app.png"
      alt="bear app"
      style="width: 75%; margin: 0;"
    )
  
  +slide
    h3 Download the source:
    pre.sh
      code.
        # clone the source repo
        git clone git@github.com:jlengstorf/pwa-workshop-starter.git

        # move into the app directory
        cd pwa-workshop-starter

        # install dependencies with yarn
        yarn install

        # (or with NPM, if you prefer)
        # npm install

  +slide
    h4 Right now, it doesn’t score very well:
    img(
      src="images/progressive-web-apps/lighthouse-no-pwa.png"
      alt="Lighthouse score for non-PWA"
      style="width: 75%; margin: 0;"
    )
    p(style="margin: 0")
      small Lighthouse is Google’s plugin to audit apps for PWA features.

  +slide
    h3 To build PWA we need to:
    ul
      li.fragment Register a Service Worker to manage caching and offline access
      li.fragment Create an app manifest to describe the app
      li.fragment Let the Service Worker know about required assets
      li.fragment Define caching rules for other assets

  +slide
    h3 Bonus points for:
    ul
      li.fragment Lazy loading resources to improve perceived performance
      li.fragment Enabling offline support for user interactions

  +slide
    h4 ...that sounds like a lot of work.

  +slide
    h1 It’s not
    h3 Most of the process is #[em already done] for you

  +slide
    h3 Step 1: Install 
      br
      code sw-precache-webpack-plugin
    ul
      li.fragment Uses the excellent #[code sw-precache] tool from the Google Chrome team
      li.fragment Creates the Service Worker
      li.fragment Accepts a list of files or folders and generates required asset list
      li.fragment Accepts a list of URL patterns to manage caching of other assets
      li.fragment Enables offline access

  +slide
    h4 Configuring #[code sw-precache-webpack-plugin]:
    pre
      code.js.
          plugins: [
            new SWPrecacheWebpackPlugin(
              {
                filepath: './public/service-worker.js',
                runtimeCaching: [{
                  urlPattern: /[.]jpg$/,
                  handler: 'cacheFirst'
                }],
                staticFileGlobs: ['public/**.*'],
                stripPrefix: 'public/',
              }
            ),
          ],
    p
      small
        a(href="https://github.com/goldhand/sw-precache-webpack-plugin").
          github.com/goldhand/sw-precache-webpack-plugin

  +slide
    h3 Step 2: Register the Service Worker in your app
    pre
      code(style="font-size: 87.5%").js.
        &lt;script>
          (function() {
            if('serviceWorker' in navigator) {
              navigator.serviceWorker.register('./service-worker.js');
            }
          })();
        &lt;/script>

  +slide
    h3 Step 3: Generate a manifest
    ol
      li.fragment Go to 
        a(href="http://realfavicongenerator.net/").
          realfavicongenerator.net
      li.fragment Follow the instructions
      li.fragment Done!
    p.fragment
      small NOTE: We can automate this with an NPM package.

  +slide
    h3 Step 4: ...
    p Technically, we’re all done at this point.

  +slide
    h3 Bonus: Add lazy loading
    ul
      li.fragment Only load images that are visible
      li.fragment Libraries exist to handle this for you, such as 
        a(href="https://github.com/jlengstorf/responsive-lazyload.js").
          responsive-lazyload.js

  +slide
    h4 Lazy-loading with #[code responsive-lazyload.js]:
    pre
      code.js.
        &lt;a href="img/bacon.jpg"
           class="gallery__link js--lazyload">
          &lt;img class="gallery__image"
               src="img/thumbs/bacon.jpg"
               srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-lazyload="img/thumbs/bacon.jpg 1x,
                              img/thumbs/bacon@2x.jpg 2x"
               alt="image">
        &lt;/a>
    p
      small
        a(href="https://github.com/jlengstorf/responsive-lazyload.js").
          github.com/jlengstorf/responsive-lazyload.js

  +slide
    h3 This score is #[em much better]:
    img(
      src="images/progressive-web-apps/lighthouse-pwa.png"
      alt="Lighthouse PWA score"
      style="width: 75%; margin: 0;"
    )

  +slide
    h2 But what if we need a database?

  +slide
    h3 There are 2 main flavors of databases
    ul
      li.fragment
        strong Server-side:
        |  the app connects to a remote machine to perform CRUD operations
      li.fragment
        strong Client-side:
        |  the database is on the same device as the app

  +slide
    h3 The Low-Down on #[br]#[em Server-Side] Databases
    .two-columns
      h4 The #[em Good]
      ul
        li.fragment Accessible to all connected instances
        li.fragment Apps don’t need to load #[em all] data to run the app
      
      h4 The #[strong Bad]
      ul
        li.fragment Can cause a noticeable slow-down in apps
        li.fragment Apps require an internet connection

  +slide
    h3 The Low-Down on #[br]#[em Client-Side] Databases
    .two-columns
      h4 The #[em Good]
      ul
        li.fragment Apps feel much faster because there’s no server request
        li.fragment Even if there’s no internet connection, apps will still work
      
      h4 The #[strong Bad]
      ul
        li.fragment Each app has its own instance of the database
        li.fragment #[em All] of the app’s data needs to be downloaded

  +slide
    //- h2 What if I would like to #[em have] my cake but also to #[strong eat] my cake?
    h2 What if I want the #[em best of both] databases?
    
  +slide
    h1 Use ’Em #[em.hugify Both]
    h3.fragment and sync that shit

  +slide
    h1 #[em CouchDB] + #[strong PouchDB]
    h3 With Replication

  +slide
    h2 PouchDB gives us:
    ul
      li.fragment Offline-first capabilities
      li.fragment Near-instant updates and responses
      li.fragment A simple JavaScript API for CRUD operations

  +slide
    h2 CouchDB gives us:
    ul
      li.fragment Data persistence across devices
      li.fragment Support for collaborative editing
    
  +slide
    img(
      src="./images/progressive-web-apps/its-hard.gif"
      alt="it’s hard"
      style="width: 100%;"
    )

  +slide
    h1 It’s not hard
    h4.fragment It’s pretty easy, actually.

  +slide
    pre
      code(style="font-size: 80%").
        // Keep the local (PouchDB) and the remote (CouchDB) databases in sync.
        PouchDB.sync('local_db', 'https://example.com/remote_db', {
          live: true,
          retry: true,
        });
        
        // Whenever there are changes on the remote database, we want to know.
        db.changes({
          since: 'now',
          live: true,
        }).on('change', handleDataChanges);
    h3.fragment That’s it — #[em No joke]

  +slide
    h1 Demo?
    h4
      a(
        href="https://code.lengstorf.com/offline-first-db-example/"
      ) Meet the Thought Collector!

  +slide
    h1 Let’s Recap

  +slide
    h3 Progressive Web Apps:
    ul
      li.fragment Make our apps faster
      li.fragment Improve the user experience on all devices
      li.fragment Increase the reliability of our app
      li.fragment Allow our users to “install” our app on their home screen
    p.fragment All with a few minutes of effort.

  +slide
    h3 And with just a bit of extra work, we can:
    ul
      li.fragment Lazy load resources to further improve load times
      li.fragment Enable offline data access for truly offline-capable apps
  
  +slide
    h2 Progressive Web Apps are #[em Awesome]

  +slide
    h3 With very little effort, we can build web apps that feel just as snappy as 
      em.hugify native apps

  +slide
    h1 🥓    

  //- Q&A
  +slide
    h1 Questions?
    p= config.author.name
      br
      small
        | Follow me on Twitter: 
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email

  //- Resources
  +slide.resourcetext
    h3 Resources
    ol
      li
        a(
          href="https://developers.google.com/web/tools/lighthouse/"
        ) Lighthouse
      li
        a(
          href="https://github.com/GoogleChrome/sw-precache"
        ) sw-precache
      li
        a(
          href="https://github.com/goldhand/sw-precache-webpack-plugin"
        ) sw-precache-webpack-plugin
      li
        a(
          href="http://realfavicongenerator.net/"
        ) Favicon Generator (for manifest.json)
      li
        a(
          href="https://github.com/jlengstorf/responsive-lazyload.js"
        ) responsive-lazyload.js
      li
        a(
          href="https://pouchdb.com/"
        ) PouchDB


block styles
  link(
    rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  )
  script.
    (function(d) {
      var config = {
        kitId: 'fnr1orp',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);

block extras
  -
    const relatedAccounts = [config.author.twitter];
    
    if (config.conference.twitter) {
      relatedAccounts.push(config.conference.twitter);
    }

    // See https://dev.twitter.com/web/tweet-button/web-intent for parameters.
    const tweetObj = {
      text: `${config.title} by @${config.author.twitter}`,
      hashtags: config.conference.hashtag || '',
      related: relatedAccounts.join(','),
      url: config.slidesLink,
    };

    // 
    const e = encodeURIComponent;
    const args = Object.keys(tweetObj).map(key => `${key}=${e(tweetObj[key])}`);
    const tweetUrl = `https://twitter.com/intent/tweet?${args.join('&')}`;
  -
  .hashtag
    p
      | Tweet: 
      a(
        href=tweetUrl
        target="_blank"
      ) @#{config.author.twitter} 
        | #{config.conference.hashtag ? `#${config.conference.hashtag}` : ''}
  footer
    ul.inline
      li
        | “#{config.title}” by 
        a(href= config.author.link)= config.author.name
        |  (slides: 
        a(href= config.slides.link)= config.slides.link.replace('https://', '')
        | )
      li
        a(href="https://twitter.com/"+config.author.twitter).
          @#{config.author.twitter}
      li
        a(href="https://github.com/"+config.author.github).
          github.com/#{config.author.github}
