//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block title
  title reveal.js + Pug - The HTML Presentation Framework
  meta(
    name="description"
    content="A framework for easily creating beautiful presentations using HTML by @hakimel. Ported to Pug by @jlengstorf."
  )
  meta(name="author" content="Hakim El Hattab")


//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1 Reveal.js + Pug
    h3 A shortcut for faster slideshow authoring.
    p
      small.
        Created by #[a(href="http://hakim.se") Hakim El Hattab] / 
        #[a(href="https://twitter.com/hakimel") @hakimel]
    p
      small.
        Ported to #[a(href="https://pugjs.org") Pug] by 
        #[a(href="http://lengstorf.com") Jason Lengstorf] / 
        #[a(href="https://twitter.com/jlengstorf") jlengstorf]

  +slide
    h2 Hello there
    p.
      reveal.js enables you to create beautiful interactive slide decks using HTML. This presentation will show you examples of what it can do.

  +slide
    +slide
      h2 Vertical slides
      p Slides can be nested inside of each other.
      p Use the #[em Space] key to navigate through all slides.
      br
      a.navigate-down(href="#")
        img(width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow")

    +slide
      h2 Basement Level 1
      p.
        Nested slides are useful for adding additional detail underneath a high level horizontal slide.

    +slide
      h2 Basement Level 2
      p That's it, time to go back up.
      br
      a(href="#/2")
        img(width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Up arrow" style="transform: rotate(180deg)")

  +slide
    h2 Slides
    p.
      Not a coder? Not a problem. There's a fully-featured visual editor for authoring these, try it out at #[a(href="http://slides.com" target="_blank")= "http://slides.com"].

  +slide
    h2 Point of View
    p.
      Press #[strong ESC] to enter the slide overview.
    p.
      Hold down alt and click on any element to zoom in on it using #[a(href="http://lab.hakim.se/zoom-js") zoom.js]. Alt + click anywhere to zoom back out.

  +slide
    h2 Touch Optimized
    p.
      Presentations look great on touch devices, like mobile phones and tablets. Simply swipe through your slides.

  +slide(data-markdown=true).
    ## Markdown Support

    Write content using inline or external Markdown.
    Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

    ```
    +slide(data-markdown=true).
      ## Markdown Support

      Write content using inline or external Markdown.
      Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
    ```

  +slide
    +slide#fragments
      h2 Fragments
      p Hit the next arrow...
      p.fragment ... to step through ...
      p
        span.fragment ... a 
        span.fragment fragmented 
        span.fragment slide.

      aside.notes
        This slide has fragments which are also stepped through in the notes window.

    +slide
      h2 Fragment Styles
      p There's different types of fragments, like:
      p.fragment.grow grow
      p.fragment.shrink shrink
      p.fragment.fade-out fade-out
      p.fragment.fade-up fade-up (also down, left and right!)
      p.fragment.current-visible current-visible
      p Highlight 
        span.fragment.hightlight-red red
        |  
        span.fragment.hightlight-blue blue
        |  
        span.fragment.hightlight-green green
        | .

  +slide#transitions
    h2 Transition Styles
    p You can select from different transitions, like:
      br
      - var count = 0;
      each transition in ['None', 'Fade', 'Slide', 'Convex', 'Concave', 'Zoom']
        if count++!==0
          |  - 
        a(href="?transition=" + transition.toLowerCase() + "#/transitions")= transition

  +slide#themes
    h2 Themes
    p reveal.js comes with a few themes built in: 
      br
      // Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck.
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;") Black (default)
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;") White
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;") League
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;") Sky
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;") Beige
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;") Simple
      br
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;") Serif
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;") Blood
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;") Night
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;") Moon
      |  - 
      a(href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;") Solarized

  +slide
    +slide(data-background="#dddddd")
      h2 Slide Backgrounds
      p.
        Set #[code data-background="#dddddd"] on a slide to change the background color. All CSS color formats are supported.
      a(href="#").navigate-down
        img(width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow")

    +slide(data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png")
      h2 Image Backgrounds
      pre
        code.hljs &lt;section data-background="image.png"&gt;

    +slide(
      data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png"
      data-background-repeat="repeat" 
      data-background-size="100px"
    )
      h2 Tiled Backgrounds
      pre
        code.hljs(style="word-wrap: break-word;").
          +slide(
            data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png"
            data-background-repeat="repeat" 
            data-background-size="100px"
          )

    +slide(
      data-backround-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" 
      data-background-color="#000000"
    )
      div(style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;")
        h2 Video Backgrounds
        pre
          code(style="word-wrap: break-word;").
            +slide(
              data-backround-video="video.mp4,video.webm"
            )

    +slide(data-background="http://i.giphy.com/90F8aUepslB84.gif")
      h2 ... and GIFs!

  +slide(
    data-transition="slide" 
    data-background="#4d7e65" 
    data-background-transition="zoom"
  )
    h2 Background Transitions
    p.
      Different background transitions are available via the backgroundTransition option. This one's called "zoom".
    pre
      code.hljs Reveal.configure({ backgroundTransition: 'zoom' })

  +slide(
    data-transition="slide"
    data-background="#b5533c"
    data-background-transition="zoom"
  )
    h2 Background Transitions
    p You can override background transitions per-slide.
    pre
      code.hljs(style="word-wrap: break-word;").
        +slide(
          data-background-transition="zoom"
        )

  +slide
    h2 Pretty Code
    pre
      code.hljs(data-trim contenteditable).
        function linkify( selector ) {
          if( supports3DTransforms ) {

            var nodes = document.querySelectorAll( selector );

            for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
              var node = nodes[i];

              if( !node.className ) {
                node.className += ' roll';
              }
            }
          }
        }
    p.
      Code syntax highlighting courtesy of #[a(href="http://softwaremaniacs.org/soft/highlight/en/description/") highlight.js].

  +slide
    h2 Marvelous Lists
    ul
      li No order here
      li Or here
      li Or here
      li Or here

  +slide
    h2 Fantastic Ordered Lists
    ol
      li One is smaller than...
      li Two is smaller than...
      li Three!

  +slide
    h2 Tabular Tables
    table
      thead
        tr
          th Item
          th Value
          th Quantity
      tbody
        tr
          td Apples
          td $1
          td 7
        tr
          td Lemonade
          td $2
          td 18
        tr
          td Bread
          td $3
          td 2

  +slide
    h2 Clever Quotes
    p
      | These guys come in two forms, inline: 
      q(
        cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations"
      ) &ldquo;The nice thing about standards is that there are so many to choose from&rdquo; 
      | and block:
    blockquote(
      cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations"
    ) &ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;

  +slide
    h2 Intergalactic Interconnections
    p.
      You can link between slides internally, #[a(href="#/2/3") like this].

  +slide
    h2 Speaker View
    p.
      There's a #[a(href="https://github.com/hakimel/reveal.js#speaker-notes") speaker view]. It includes a timer, preview of the upcoming slide as well as your speaker notes.
    p.
      Press the #[em S] key to try it out.

    aside.notes
      Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).

  +slide
    h2 Export to PDF
    p.
      Presentations can be #[a(href="https://github.com/hakimel/reveal.js#pdf-export") exported to PDF], here's an example:
    iframe(
      src="//www.slideshare.net/slideshow/embed_code/42840540"
      width="445"
      height="355"
      frameborder="0"
      marginwidth="0"
      marginheight="0"
      scrolling="no"
      style="border:3px solid #666; margin-bottom:5px; max-width: 100%;"
      allowfullscreen
    )

  +slide
    h2 Global State
    p.
      Set #[code data-state="something"] on a slide and #[code "something"] will be added as a class to the document element when the slide is open. This lets you apply broader style changes, like switching the page background.

  +slide(data-state="customevent")
    h2 State Events
    p.
      Additionally custom events can be triggered on a per slide basis by binding to the #[code data-state] name.
    pre
      code.javascript(data-trim contenteditable style="font-size: 18px;").
        Reveal.addEventListener( 'customevent', function() {
          console.log( '"customevent" has fired' );
        } );

  +slide
    h2 Take a Moment
    p.
      Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.

  +slide
    h2 Much more
    ul
      li Right-to-left support
      li #[a(href="https://github.com/hakimel/reveal.js#api") Extensive JavaScript API]
      li #[a(href="https://github.com/hakimel/reveal.js#auto-sliding") Auto-progression]
      li #[a(href="https://github.com/hakimel/reveal.js#parallax-background") Parallax backgrounds]
      li #[a(href="https://github.com/hakimel/reveal.js#keyboard-bindings") Custom keyboard bindings]

  +slide
    h1 THE END
    p
      | - 
      a(href="http://slides.com") Try the online editor
      br
      | - 
      a(href="https://github.com/jlengstorf/reveal.js-jade") Source code
      br
      | - 
      a(href="https://github.com/hakimel/reveal.js") Original project and documentation
