//- Use the presentation layout so we can keep this clean
extends layouts/presentation

block append config
  -
    config.theme = 'lengstorf';
    config.title = 'How I Cut My Hours in Half';
    config.description = 'And somehow managed to get more done.';

    config.author = {
      name: 'Jason Lengstorf',
      email: 'jason@lengstorf.com',
      link: 'https://code.lengstorf.com/',
      twitter: 'jlengstorf',
      github: 'jlengstorf',
    };
    
    config.slides = {
      link: 'https://git.io/work-life-balance',
    };

    config.conference = {
      hashtag: 'generateconf',
      twitter: '',
    };
  -

//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1(style="font-size: 110px")= config.title
    h3 And somehow managed#[br]to get more done
    
    p by 
      a(href= config.author.link)= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        | &nbsp; · &nbsp;
        a(href= `mailto:${config.author.email}`)= config.author.email
    
    p
      small Slides: #[a(href= config.slides.link)= config.slides.link.replace('https://', '')]

  //- INTRO
  +slide.u--align-left.u--text-light.u--text-shadow(
    data-background="url(./images/jason-lengstorf-slide-bg@2x.jpg)"
  )
    h2 #[br]#[br]#[br]#[br]#[br]Look at this beard
      em.hugify.fragment Glorious!

  +slide
    h2 I nearly robbed#[br]the world of its #[em.hugify majesty]

  +slide.u--text-light.u--text-shadow(
    data-background="url(./images/work-life-balance/mustache.jpg)"
  )
    h3.fragment.dim-the-lights This was not a choice

  +slide
    h2 I was a 
      strong workaholic

  +slide
    h2 In 2012 I averaged 
      strong.hugify 70 hours per week
      |  on the computer
    p.fragment And it wasn’t unusual to pass 90.

    aside.notes.
      I woke up checking email. I worked through all of my meals. I ordered in 
      the vast majority of my lunches and dinners. I rarely hung out with 
      friends, and when I did, I’d often end up ducking out to take a phone call
      or deal with some issue.

  +slide
    h2 My long hours were a point of pride for me

  +slide
    h3 But then...
  
  +slide
    h1
      span.hugify Black Friday

  +slide
    h3 I landed a #[em huge] contract:
    p A high-profile, Black Friday marketing site for a Fortune 500 company 
      span.fragment — charging agency rates and rush fees.

  +slide
    h3 We planned it all out...
    img.no-border(
      src="images/work-life-balance/project-plan.svg"
      alt="project plan"
    )

  +slide
    h3 ...then reality happened
    img.no-border(
      src="images/work-life-balance/project-reality.svg"
      alt="project plan"
    )

  +slide
    h1 But I’m no
      br
      strong(style="font-size:130%") quitter

  +slide
    h2 I worked over #[strong.hugify 100 hours] that week

  +slide
    h2 The Business Result:
    ul
      li.fragment The client loved it
      li.fragment The project made the client a bunch of money
      li.fragment I got paid a bunch of money
      li.fragment The project won an Addy Award

  +slide
    h2 The Personal Cost:
    ul
      li.fragment I missed Thanksgiving with my family
      li.fragment I slept less than 4 hours a night
      li.fragment I ate fast food delivery for every. single. meal.
      li.fragment MY FRIGGIN’ BEARD FELL OUT

  +slide.u--text-light.u--text-shadow(
    data-background="url(./images/work-life-balance/patchy-beard.jpg)"
  )
    aside.notes.
      I believe I had something called #[em alopecia barbae], which causes
      unexplained loss of whiskers in beards. There’s no proven cause, but some
      research suggests stress can create symptoms. I’m an n=1 study, but I am
      now extremely convinced that this is true.

  +slide
    h3 I was already burning out.

  +slide.u--text-light.u--text-shadow(
    data-background="url(./images/work-life-balance/rage-quit.gif)"
  )
    h3.fragment.dim-the-lights Losing my beard
      br
      | was the final straw.

  +slide
    h2 Poor &amp; #[em healthy]#[br]is better than successful &amp; #[strong sick]

  +slide
    h3 I cut back on everything:
    ul
      li.fragment I only accepted calls during business hours
      li.fragment I turned off #[strong ALL] notifications
      li.fragment I turned on Do Not Disturb mode from 6pm to 8am
      li.fragment I only checked email twice a day
      li.fragment I set up activities with my friends...
      li.fragment ...and left my phone in the car while I was there

  +slide
    h2(
      style="font-size: 230%"
    ) I was ready to lose business if I could have my life back

  +slide
    h4 &hellip;but that’s #[em not] what happened

  +slide
    h2 What I expected:
    h4.fragment my clients would leave
    h4.fragment I’d miss big opportunities
    h4.fragment I’d accomplish less
    
    aside.notes.
      my clients would leave because I wasn’t available at all hours of the day#[br]
      I’d miss big opportunities by turning off notifications#[br]
      I’d accomplish less by “wasting time” on non-business activities like hobbies and friendship

  +slide
    h2 What happened:
    h4.fragment no one noticed
    h4.fragment my business grew
    h4.fragment I got #[em more] done

    aside.notes.
      my clients didn’t notice because I still got back to them within 24 hours#[br]
      no opportunities were lost#[br]
      I was getting #[em significantly more] work done

  +slide
    h3 “How is it possible that you got #[em more] done by working fewer hours?”

  +slide
    h2 First: the #[em science]
  
  +slide
    h3 Working 60+ hours per week makes us #[strong less] productive than working 40 hours#[sup 1]
  
  +slide
    h3 Long hours #[strong destroy] passion and engagement#[sup 2]
  
  +slide
    h3 Overworking increases employee #[strong turnover]#[sup 3]
  
  +slide
    h3 Creativity #[strong suffers] if we don’t take time to go outside and be people#[sup 4]
  
  +slide
    h3 Lack of downtime#[br]#[strong hurts] productivity#[br]and creativity#[sup 5]
  
  +slide
    h3 We #[strong lose 20% of our time per task] while multitasking#[sup 6]
  
  +slide
    h3 Sleeping less than 7 hours#[br]a night is #[strong worse] than being too drunk to drive#[sup 7]

  //- STRATEGIES
  +slide
    h1 🤨
    h3 “You haven’t answered the question, nerd.”

  +slide
    h2(style="width: 120%; margin-left: -10%;")
      | 5 Strategies to#[br]
      em.hugify.alright-calm-down-a-little Turbocharge
      | Your Productivity
    ol
      li.fragment Track your time
      li.fragment Time-box tasks
      li.fragment Front-load important work
      li.fragment Prioritize aggressively
      li.fragment DO NOT multitask

  +slide
    h4 Strategy #1:
    h2 #[em Track] Your Time
    p.
      The simple act of #[em acknowledging] how we spend our time encourages us
      to use it more wisely.

  +slide
    h3 If I have a #[strong long] day...
    img(
      src="images/work-life-balance/rescuetime-long-day.png"
      alt="a long day in RescueTime"
    )

  +slide
    h3 ...I know to #[em take a day off]
    img(
      src="images/work-life-balance/rescuetime-day-off.png"
      alt="a day off in RescueTime"
    )

  +slide
    h4 Strategy #2:
    h2 #[em Time-Box] Tasks
    p.
      You’re never more productive than when you’re up against a deadline with 
      13% battery left.
  
  +slide
    h3 Find your rhythm.
    ul
      li.fragment Decide how long you want to focus for
      li.fragment Close and turn off #[em everything] unrelated
      li.fragment Start a timer
      li.fragment Unleash your brilliance upon the world
      li.fragment When the timer goes off, take a break
      li.fragment Repeat
    
    aside.notes.
      Experiment with different periods of time to figure out what’s best for 
      your attention span and comfort. I find that 90 minutes works well, but my
      partner does best with 60-minute blocks. Others swear by the 25-minute 
      Pomodoro method — everyone will have their own ideal focus period.
      #[br]#[br]
      After you’ve experimented with this for a while, you’ll likely notice that
      you’ve finished your todo list in six hours or less.

  +slide
    h2 Why This Works

  +slide
    h3 1. We’re #[em not distracted]
    
    aside.notes.
       Interruptions are expensive — writing code requires creating complex
       mental models, and if we’re interrupted or distracted, we lose a lot of
       time rebuilding them to remember what we were trying to accomplish.

  +slide
    h3 2. We get into a #[em flow state]
    
    aside.notes.
       Without interruptions, we can get into what Mihaly Cziksentmihalyi calls
       a “flow state” — being “in the zone” — which is where we’re deeply
       engaged in the task at hand. This is where our best (and most satisfying)
       work happens.

  +slide
    h3 3. We’re #[em taking breaks]
    
    aside.notes.
       However, if we‘re working in a flow state and not taking regular breaks,
       we hit what I like to call the “code zombie” state: after a few hours, we
       hit the wall and get into that foggy, not-quite-human state where we
       can’t really do useful work anymore, but we’re also too mentally fried to
       go out and interact with other humans. (Marisa calls this “forgetting how
       to be a person”.)

  +slide
    h3 4. We’re #[em still available]
    
    aside.notes.
       Another critical point here is that by time-boxing, we’re not sacrificing
       availability for focus. We can check in on our colleagues, clients, and
       other communication channels every 90 minutes or so, allowing us to stay
       available without multitasking or waiting until the middle of the night
       to get “real work” done.

  +slide
    h2 Also: #[em science]#[sup *]
    p.
      We all have something called an “ultradian rhythm”, which regulates our 
      energy in 90-minute-ish intervals.#[sup 8]
    p.fragment
      small #[sup *] May not be #[em actual] science.

  +slide
    h4 Strategy #3:
    h2 #[em Front-Load] Important Work
    p.
      Motivation and self-control are resources that deplete as the day goes on.
      Don’t waste them.

  +slide
    h3 We’re the #[em best] versions of ourselves early in our day
    ul
      li.fragment energy is higher
      li.fragment focus is improved
      li.fragment self-control is at its peak
    
    aside.notes.
      This is NOT me saying you should wake up early. Wake up whenever you want;
      just do the important shit before you do anything else.

  +slide
    h3 Morning Me
    img(
      src="images/work-life-balance/fist-pump.gif"
      alt="fist pumping"
      style="width: 640px;"
    )

  +slide
    h3 Evening Me
    img(
      src="images/work-life-balance/motivation-late.gif"
      alt="so lazy"
      style="width: 100%;"
    )

  +slide
    h4 Strategy #4:
    h2 #[em Prioritize] Aggressively
    p.
      If everything is The Most Important Thing™, nothing is.

  +slide
    h4 Use the Highlander Technique
    img(
      src="images/work-life-balance/highlander.jpg"
      alt="highlander"
    )

  +slide
    h3 Put tasks into a tournament bracket...
    img.no-border(
      src="images/work-life-balance/bracket.png"
      alt="highlander"
      style="max-height: 400px;"
    )
    p(style="margin: 0") ...and then start choosing.

  +slide
    h4 Strategy #5:
    h2 #[em DO NOT] Multitask
    p.
      Ever. Just stop it.

  +slide
    h3 Context Switching is#[br]#[strong fatal] to productivity
    img(
      src="images/work-life-balance/context-switching-costs.png"
      alt="context switching penalty"
      style="margin: 0;"
    )
    p(style="margin: 0;")
      small Source: #[a(href="https://blog.codinghorror.com/the-multi-tasking-myth/") Coding Horror]

  +slide
    h3 Multitasking makes#[br]us #[strong feel] productive.
    h3.fragment Single-tasking makes us #[em actually] productive.

  //- PROOF
  +slide
    h1 🤔
    h3 “How do I know that any of this junk really works?”

  +slide
    h3 My 2016 RescueTime report
    img(
      src="images/work-life-balance/2016-hours.png"
      alt="1922.8 hours worked in 2016"
      style="margin: 0;"
    )
    p(style="margin: 0") Average: #[strong 37 hours per week]

  +slide
    h3 My 2017 RescueTime report
    img(
      src="images/work-life-balance/2017-hours-total.png"
      alt="2038 hours worked in 2017"
      style="margin: 0;"
    )
    p(style="margin: 0") Average: #[strong 39 hours per week]

  +slide
    h3 I’ve been able to manage:
    ul
      li.fragment My day job workload
      li.fragment My blogs and side projects
      li.fragment Multiple conference sessions and workshops
      li.fragment A reasonably full social calendar
      li.fragment 3&times; weekly workouts
      li.fragment 8 hours average sleep

    aside.notes.
      I don’t have kids, so things like making it to the gym and sleeping are
      maybe easier for me, but I want to stress that I’m finishing my work 
      #[em and] my side projects within the 40 hours or less of screen time I get
      every week.

  //- RECAP
  +slide
    h1 Let’s #[em Recap]
  
  +slide
    h3 If we work #[strong too much], we’re:
    ul
      li.fragment worse at our jobs
      li.fragment more likely to burn out
      li.fragment less likely to feel satisfied at our job
      li.fragment less able to enjoy our lives

  +slide
    h3 If we work a #[em reasonable schedule], we’re:
    ul
      li.fragment more creative
      li.fragment more productive
      li.fragment happier (both in and out of work)
      li.fragment healthier

  +slide
    h3 We can be #[em more productive] in less time by:
    ol(style="width: 110%;margin-left: -5%;")
      li.fragment paying attention to how we spend our time
      li.fragment time-boxing tasks to create urgency &amp; limit distractions
      li.fragment front-loading demanding tasks while our energy is high
      li.fragment aggressively prioritizing work to enable better focus
      li.fragment never, ever, #[em ever] multitasking again

  +slide
    h1 We all have a choice

  +slide.u--text-light.u--text-shadow(
    data-background="url(./images/work-life-balance/mustache.jpg)"
  )
    h3.fragment.dim-the-lights We can live this life&hellip;

  +slide.u--align-left.u--text-light.u--text-shadow(
    data-background="url(./images/work-life-balance/piggyback-lg@2x.jpg)"
  )
    h3.fragment &hellip;or this one.

  //- Q&A
  +slide
    h1.no-margin Thanks!
    img(
      src="./images/work-life-balance/jason-lengstorf.jpg"
      alt="Jason Lengstorf"
      style="border-radius: 50%; width: 240px; min-width: 0; margin-bottom: 0;"
    )
    p(style="margin-top: 0.25rem;")= config.author.name
      br
      small
        | Follow me on Twitter: 
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        //- | &nbsp; · &nbsp;
        //- a(href= `mailto:${config.author.email}`)= config.author.email

  //- Resources
  +slide.u--align-left.resourcetext
    h4 Resources
    ol
      li
        a(href="http://www.enginesofmischief.com/makers/evan/pubs/crunch.html").
          Why Crunch Mode Doesn’t Work: 6 Lessons
      li
        a(href="http://www.employment-studies.co.uk/report-summary-working-long-hours-review-evidence-volume-1-%E2%80%93-main-report").
          Working Long Hours: a Review of the Evidence
      li
        a(href="http://www.nytimes.com/2014/06/01/opinion/sunday/why-you-hate-work.html?_r=0").
          Why You Hate Work
      li
        a(href="http://archive.news.ku.edu/2012/april/23/outdoors.shtml").
          Researchers find time in wild boosts creativity, insight, and problem solving
      li
        a(href="https://hbr.org/2012/12/the-upside-of-downtime").
          The Upside of Downtime
      li
        a(href="https://blog.codinghorror.com/the-multi-tasking-myth/").
          The Multitasking Myth
      li
        a(href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1739867/pdf/v057p00649.pdf").
          Moderate sleep deprivation produces impairments in cognitive and motor performance equivalent to legally prescribed levels of alcohol intoxication
      li
        a(href="http://blog.idonethis.com/science-of-better-energy-management/").
          The Science Behind Why Better Energy Management is the Key to Peak Productivity


block styles
  link(
    rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  )
  script.
    (function(d) {
      var config = {
        kitId: 'fnr1orp',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);

block extras
  -
    const relatedAccounts = [config.author.twitter];
    
    if (config.conference.twitter) {
      relatedAccounts.push(config.conference.twitter);
    }

    // See https://dev.twitter.com/web/tweet-button/web-intent for parameters.
    const tweetObj = {
      text: `${config.title} by @${config.author.twitter}`,
      hashtags: config.conference.hashtag || '',
      related: relatedAccounts.join(','),
      url: config.slides.link,
    };

    // 
    const e = encodeURIComponent;
    const args = Object.keys(tweetObj).map(key => `${key}=${e(tweetObj[key])}`);
    const tweetUrl = `https://twitter.com/intent/tweet?${args.join('&')}`;
  -
  .hashtag
    p
      | Tweet: 
      a(
        href=tweetUrl
        target="_blank"
      ) @#{config.author.twitter} 
        | #{config.conference.hashtag ? `#${config.conference.hashtag}` : ''}
  footer
    ul.inline
      li
        | “#{config.title}” by 
        a(href= config.author.link)= config.author.name
        |  (slides: 
        a(href= config.slides.link)= config.slides.link.replace('https://', '')
        | )
      li
        a(href="https://twitter.com/"+config.author.twitter).
          @#{config.author.twitter}
      li
        a(href="https://github.com/"+config.author.github).
          github.com/#{config.author.github}
