include ../includes/_mixins

block config
  -
    const config = {
      title: 'Reveal.js + Pug',
      description: 'A framework for easily creating beautiful presentations using HTML.',
      author: {
        name: 'Hakim El Hattab',
        email: 'hakim.elhattab@gmail.com',
        link: 'http://hakim.se',
        twitter: 'hakimel',
        github: 'hakimel',
      },
      theme: 'black',
    };
  -

doctype html
html

  head
    meta(charset="utf-8")

    //- Viewport settings
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )

    //- Meta information for the project
    block title
      title= config.title
      meta(name="description" content=config.description)

    //- Reveal styles
    link(rel="stylesheet" href="css/reveal.css")

    //- Allows changing the presentation theme without modifying this template
    block theme
      link#theme(rel="stylesheet" href= `css/theme/${config.theme}.css`)

    //- Syntax highlighting
    link(rel="stylesheet" href="lib/css/github.css")

    //- Add extra styles using this block
    block styles

    //- Check if we're serving the PDF version for printing
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );

  body

    .reveal

      //- Any element inside this container is displayed as a slide
      .slides

        //- Use this block to add your own slides
        block slides
          +slide
            h1= config.title
            h3= config.description
            p
              small.
                Created by #[a(href= config.author.link)= config.author.name] / 
                #[a(href="https://twitter.com/" + config.author.twitter)= "@" + config.author.twitter]
            p
              small.
                Ported to #[a(href="https://pugjs.org") Pug] by 
                #[a(href="http://lengstorf.com") Jason Lengstorf] / 
                #[a(href="https://twitter.com/jlengstorf") jlengstorf]



    //-
      This block exists so you can add things like footers, hashtag reminders,
      and anything else that helps the look of your slideshow that should be
      visible on *every* slide.
    block extras

    block defaultscripts
      script(src="lib/js/head.min.js")
      script(src="js/reveal.js")
      script.
        // More info https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
          history: true,
          transition: 'none',
          backgroundTransition: 'none',

          // More info https://github.com/hakimel/reveal.js#dependencies
          dependencies: [
            { src: 'plugin/markdown/marked.js' },
            { src: 'plugin/markdown/markdown.js' },
            { src: 'plugin/notes/notes.js', async: true },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
          ]
        });

    block scripts
