//- Use the presentation layout so we can keep this clean
extends layouts/presentation

block append config
  -
    config.theme = 'lengstorf';
    config.title = '#SpeakerTips';
    config.description = 'Create Presentations That Aren’t Horrible & Boring';
    config.slidesLink = 'https://code.lengstorf.com/presentations/database-basics/slides/';

    config.author = {
      name: 'Jason Lengstorf',
      email: 'jason.lengstorf@ibm.com',
      link: 'https://code.lengstorf.com/',
      twitter: 'jlengstorf',
      github: 'jason-lengstorf',
    };

    config.conference = {
      hashtag: false,
      twitter: false,
    };
  -

block title
  title= config.description
  meta(name="description" content=config.description)
  

//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1= config.title
    h3= config.description
    
    p by 
      a(href= config.author.link)= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email

  +slide.u--align-left.u--text-light.u--text-shadow(
    data-background="url(./images/bear-background@2x.jpg)"
    data-transition="fade"
  )
    h2 Who I Am
    ul
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 

    aside.notes.
      This joke is so terrible. You should be ashamed of yourself.

  +slide.u--align-left.u--text-light.u--text-shadow(
    data-background="url(./images/jason-lengstorf-slide-bg@2x.jpg)"
    data-transition="fade"
  )
    h2 Who I Am
    ul.full-width
      li.fragment Building web shit since 2003
      li.fragment #[em Huge] process &amp; efficiency nerd
      li.fragment Work-life balance advocate / consultant
      li.fragment Front-end developer at IBM
      li.fragment Author of 3 books on development stuff
      li.fragment World champion purveyor of bear hugs

  +slide
    h1 Let’s Pretend
    
    aside.notes.
      You've built something cool. People should know about this. You mention it 
      to a client/coworker/conference. They ask you to give a presentation about 
      what you did. ...now what?

  +slide
    h3 Presentations Suck
    img(
      src="./images/presentations-that-dont-suck/holy-shit-this-slide.jpg"
      alt="Truly appalling PowerPoint slide"
      style="width: auto; margin: 0;"
    )
    small Source: 
      a(
        href="http://www.slideshare.net/chetansharma/us-wireless-market-q2-2010-update-aug-2010-chetan-sharma-consulting"
      ) Chetan Sharma Consulting on Slideshare

  +slide
    h3 ...Except When They Don’t
    img(
      src="./images/presentations-that-dont-suck/awesome-presentation.gif"
      alt="What is this dude doing?"
      style="width: auto; margin: 0;"
    )
    small Source: 
      a(
        href="https://www.ted.com/talks/hans_rosling_shows_the_best_stats_you_ve_ever_seen"
      ) TED / Hans Rosling

  +slide(data-transition="zoom-out")
    h1 What’s the Difference?
    ul
      li.fragment Better design?
      li.fragment Professional speakers?

    aside.notes.
      Why do we hate most presentations, but spend so much time watching TED 
      talks? Is it that the slides are better designed? Or maybe it’s because
      the speakers seem so professional?

  +slide(data-transition="zoom-in slide-out")
    h1 Nope.
    
    aside.notes.
      Many TED speakers are pretty inexperienced, actually. Many of the 
      presentations aren’t all that great to look at, either.

  +slide
    h2 The keys to a #[em great presentation]
    ul.full-width
      li.fragment Don’t get lost in the details.
      li.fragment Focus on the benefits to the audience.
      li.fragment Don’t rely #[em too much] on your slides.
      li.fragment Learn to pretend as if you know what you’re doing.
      li.fragment ...and then there’s #[strong The Ultimate Presenters’ Tool™].
  
  +slide
    h3 What’s #[em The Ultimate Presenters’ Tool™], you ask?
    div.fragment
      img(
        src="./images/presentations-that-dont-suck/mysterybox.png"
        alt="Mr. Burns and the mystery box"
        style="min-width:0;width: 25vw;margin:0;border:none;box-shadow:none;"
      )
    
    aside.notes.
      Here’s your incentive to stay awake.

  +slide
    h3 Tip #1
    h1 Don’t Get #[strong Lost] in the Details

  +slide
    h3 This Is My Sister
    img(
      src="./images/presentations-that-dont-suck/aesch.jpg"
      alt="Aesch Lengstorf"
      style="width: auto;"
    )
    small.fragment Her stories are famously terrible.
    
    aside.notes.
      When we were kids, my mom would start a story timer and say, "Okay. You’ve
      got five minutes to wrap this up." Every story was a maze of tangents,
      useless details, and rambling nonsense. There may have been a point in 
      there, but none of us were ever able to tease it out.

  +slide
    h2 Only Include 
      em Essential
      |  Details
    
    aside.notes.
      Choose only the right details, and the story becomes more powerful.
      Include too many and it becomes hard-to-follow and boring.

  +slide
    h3 “But all of these details are #[strong absolutely essential] to my presentation!”

    aside.notes.
      You may feel like leaving out details will rob your audience of the impact,
      but you'd be sorely mistaken. Don't believe me? Allow me to present one of
      the most impactful (and complete) stories I've ever seen:

  +slide
    blockquote
      p “For sale: baby shoes, never worn.”
        br
        small
          strong – Ernest Hemingway (probably apocryphal)
    
    aside.notes.
      This is a single detail, but we easily understand the entire tragic story.
      The origin of this story is unclear, but it's apocryphally attributed to
      Hemingway, who used it to win a bet that he couldn't write a full story in
      six words. If Hemingway can write a tragedy in six words, we can write a
      fucking PowerPoint slide in a sentence or two.

  +slide
    h2 Tip #2
    h1 Focus on the#[br]#[em Benefits]

  +slide
    h2 People are #[strong selfish]
    div.fragment
      h1 Use That
    
    aside.notes.
      Try to frame everything from the perspective of the person listening. How 
      does this information help them? How can it make their lives easier? What
      problem has been solved for them?
  
  +slide
    h2(style="margin: 0;") Focus on Benefits in
    h1(style="margin: 0;")
      em 3 Easy Steps
  
  +slide
    h4 Step 1:
    h1 Find the Thing That #[strong.hugify Hurts]
    
    aside.notes.
      This could be something obvious that everyone complains about all the time
      already; or it could be something subtle that no one has thought of yet
      but can’t live without once they know it exists, like wheels on suitcases.

  +slide
    h4 Step 2:
    h1
      strong.hugify Poke It

    aside.notes.
      Remind them how painful it is. Try to paint a mental picture of how 
      frustrating this problem can be, or ask them to reflect on the last time
      they had to use the problematic thing. If you’re doing this right, someone
      in the audience will groan audibly.

  +slide(data-transition="slide-in zoom-out")
    h4 Step 3:
    h1 Offer a 
      em.hugify.alright-calm-down-a-little Better
      |  Solution

    aside.notes.
      With the pain fresh in the audience’s mind, the power of the solution is
      much more apparent. If I show you a blanket with sleeves, you might laugh
      at the idea — but if you're picturing cold arms while trying to get to 
      your popcorn, you’re all like...
  
  +slide(data-transition="zoom-in slide-out")
    img(
      src="./images/presentations-that-dont-suck/shut-up-and-take-my-money.jpg"
      alt="Shut up and take my money!"
    )

  +slide
    h2 Tip #3
    h1 Don’t Rely #[strong Too Much] on Your Slides
    
    aside.notes.
      A good slide deck is a #[em visual aid]. Your presentation should still be
      engaging, even if the projector or screenshare gives out.

  +slide
    h2 Slides are #[strong not] a written report.
    
    aside.notes.
      Don’t try to fit everything you want to say on a slide. You’re 
      #[em speaking] to the audience; not standing there while they read.

  +slide
    h2 Slides are #[strong not] notes for the speaker.
    
    aside.notes.
      If you want to make sure to remember something, use the speaker notes.

  +slide
    h2 Slides are #[strong not] a script.
    
    aside.notes.
      Reading slides verbatim is distracting, boring, and a waste of time. If
      the audience can get the same experience simply by reading the slides, you
      may as well skip the talk altogether and send them a PDF instead.

  +slide
    h2 Slides are #[strong not] a collection of your favorite GIFs.
    
    aside.notes.
      I love GIFs, and I use a lot of them. But if your whole deck is funny GIFs
      — unless that’s the schtick — you’re more likely to distract from your
      talk than add to it.

  +slide
    .two-columns(style="text-align: right;")
      img(
        src="images/presentations-that-dont-suck/hula-hoop-toddler.gif"
        alt="my current favorite GIF"
        style="width: auto;"
      )
      h3(style="text-align:left;")
        br
        br
        br
        br
        | This one is my favorite

  +slide
    h2 Tip #4
    h1 #[em Pretend] You Know What You’re Doing
    
    aside.notes.
      Looking like a pro is easier than you might think. All it really takes is
      a tiny bit of practice. Like, seriously: #[em very little] practice.

  +slide
    h2 #[em.hugify Practice] Don’t memorize
    
    aside.notes.
      Actors get paid to recite memorized lines because it’s hard not to sound
      like a cardboard cutout when you’re reciting something from memory. So
      don’t worry about writing a script — just know the content.
  
  +slide
    h2 Run Through It
      em.hugify Out Loud

    aside.notes.
      By doing a pass out loud, you’ll notice any rough transitions, awkward 
      pauses, useless slides, or other things that only become apparent when
      you’re actually giving the presentation.

  +slide
    h2
      em.hugify Refresh
      | Before the Talk

  +slide
    blockquote
      p “Defrosting” a talk can be harder than writing the thing in the first place.
        br
        strong – Lorna Mitchell

    aside.notes.
      If you haven’t looked at your deck in a while, you may get tripped up by
      transitions or little jokes. Or you may forget an entire section, or
      jump ahead and end up repeating yourself — I’ve done this #[em a lot].

  +slide
    h3 Now It’s Time for The Ultimate Presenters’ Tool™
    img(
      src="./images/presentations-that-dont-suck/mysterybox.png"
      alt="Mr. Burns and the mystery box"
      style="min-width:0;width: 25vw;margin:0;border:none;box-shadow:none;"
    )
  
  +slide
    h2 Tip #5
    h1 Tell #[em Stories]

  +slide
    h2 People Respond to #[em.hugify Emotions]
    
    aside.notes.
      Raw information is useful and extremely necessary, but it’s hard to
      #[em connect] with stats and numbers. It’s our responsibility as
      presenters to find the story in the facts, and help people #[em feel] why
      what we’re saying is important.

  +slide
    h3 “But what if my topic is 
      span.hugify #[strong boring]?”
    
    aside.notes.
      Very few topics are inherently interesting or boring: a good storyteller
      can make anything sound interesting; a bad storyteller can make anything
      sound boring. Don’t beleive me? Let’s look at a plot synopsis or two:

  +slide
    h4.
      A report on nominative determinism and its negative impact on
      socioeconomic status and mobility.
    img.fragment(
      src="images/presentations-that-dont-suck/freakonomics.jpg"
      alt="Freakonomics"
    )
    
    aside.notes.
      This story in #[em Freakonomics] about how names affect our ability to get
      a job is as memorable and engaging as it is depressing, but if we get too
      buried in the jargon and lose the human element, it sounds boring as hell.

  +slide
    h4.
      The story of four strangers who take a road trip to ask a politician for
      things they already have.
    img.fragment(
      src="images/presentations-that-dont-suck/wizard-of-oz.jpg"
      alt="The Wizard of Oz"
    )
    
    aside.notes.
      This is one of the most beloved movies out there, but if we just stick to
      the facts, there’s not much to engage the audience.

  +slide
    h4 A detailed account of a grumpy alcoholic's poor life choices.
    img.fragment(
      src="images/presentations-that-dont-suck/bukowski.jpg"
      alt="Charles Bukowski"
    )
    
    aside.notes.
      Bukowski’s writing is arguably some of the best storytelling of the 20th
      century — but a factual overview of his body of work sounds terrible.

  +slide
    h2 Good stories #[em follow an arc]
  
  +slide
    img(
      src="images/presentations-that-dont-suck/story-arc01.png"
      alt="story arc: hero"
      style="border:none;box-shadow:none;"
    )
    
    aside.notes.
      The hero gives us someone to pull for, and allows us to tie emotions to
      the events taking place. Without heroes, most stories start to sound like
      the boring history lessons from school. In business presentations, this
      could be a single customer, rather than a generic “our customers...”
  
  +slide
    img(
      src="images/presentations-that-dont-suck/story-arc02.png"
      alt="story arc: challenge"
      style="border:none;box-shadow:none;"
    )
    
    aside.notes.
      A challenge gives us a threat or enemy to band together against. It brings
      us closer to the hero and helps us buy into the story. In business, this
      could be a customer trying to make enough money from her business to buy
      gifts for her family — and her business relies on our product.
  
  +slide
    img(
      src="images/presentations-that-dont-suck/story-arc03.png"
      alt="story arc: preparation"
      style="border:none;box-shadow:none;"
    )
    
    aside.notes.
      Without following the hero’s preparation, the ending feels pretty
      anticlimactic: “Harry Potter found himself targeted by an evil wizard, but
      then he won the big wizard battle.” The middle part of the story helps us
      identify with the hero and builds suspense. For business, this could be a
      high-level overview of various challenges, partners, and strategies. It
      can also include any failed attempts along the way — this also helps build
      suspense.
  
  +slide
    img(
      src="images/presentations-that-dont-suck/story-arc04.png"
      alt="story arc: conflict"
      style="border:none;box-shadow:none;"
    )
    
    aside.notes.
      This is the climax of the story. After all the preparation, the hero is
      ready to take on the challenge. This is the moment of truth, where we find
      out if the preparation paid off. In business, this might be where the
      customer puts our product to the test during a holiday promotion — and it
      pulls through for her. She has her best month ever and she’s able to buy
      gifts for her family.
  
  +slide
    img(
      src="images/presentations-that-dont-suck/story-arc05.png"
      alt="story arc: lessons"
      style="border:none;box-shadow:none;"
    )
    
    aside.notes.
      After the conflict, we need to see how things shake out in the end. What
      does normal life look like now? This is a good place to reflect on what
      was learned during the project, or how we plan to provide the same results
      to #[em all] of our customers.

  +slide
    h2 Air Your Dirty
      em.hugify Laundry
    
    aside.notes.
      The idea of sharing failures and shortcomings with total strangers is
      #[em fucking terrifying], but try not to only put your best foot forward.
      Without flaws, we find it hard to relate to each other. This is why
      Superman is such a tough character: he doesn’t have any flaws, and that
      makes him seem stiff and two-dimensional. Be willing to put the bad out
      with the good, and people will relate to your stories far better.

  +slide
    h1 Let’s 
      em Recap

  +slide
    h2 How to make your #[em next talk] great:
    ul
      li.fragment Don’t get lost in the details.
      li.fragment Focus on the benefit to the audience.
      li.fragment Don’t rely too much on slides.
      li.fragment Pretend you know what you’re doing.
      li.fragment Tell stories.

  +slide
    h1 Questions?
    p= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email

block styles
  link(
    rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  )
  script.
    (function(d) {
      var config = {
        kitId: 'fnr1orp',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);

block extras
  -
    const relatedAccounts = [config.author.twitter];
    
    if (config.conference.twitter) {
      relatedAccounts.push(config.conference.twitter);
    }

    // See https://dev.twitter.com/web/tweet-button/web-intent for parameters.
    const tweetObj = {
      text: `${config.title} by @${config.author.twitter}`,
      hashtags: config.conference.hashtag || '',
      related: relatedAccounts.join(','),
      url: config.slidesLink,
    };

    // 
    const e = encodeURIComponent;
    const args = Object.keys(tweetObj).map(key => `${key}=${e(tweetObj[key])}`);
    const tweetUrl = `https://twitter.com/intent/tweet?${args.join('&')}`;
  -
  //.hashtag
    p
      | Tweet: 
      a(
        href=tweetUrl
        target="_blank"
      ) @#{config.author.twitter} 
        | #{config.conference.hashtag ? `#${config.conference.hashtag}` : ''}
  footer
    ul.inline
      li
        | “#{config.title}” by 
        a(href= config.author.link)= config.author.name
      li
        a(href="https://twitter.com/"+config.author.twitter).
          @#{config.author.twitter}
      li
        a(href="https://github.ibm.com/"+config.author.github).
          github.ibm.com/#{config.author.github}
