//- Use the presentation layout so we can keep this clean
extends layouts/presentation

block append config
  -
    config.theme = 'lengstorf';
    config.title = 'You Belong Here';
    config.description = 'Let’s Make Open Source More Open';

    config.author = {
      name: 'Jason Lengstorf',
      email: 'jason@gatsbyjs.com',
      link: 'https://lengstorf.com/',
      twitter: 'jlengstorf',
      github: 'jlengstorf',
    };
    
    config.slides = {
      link: 'https://git.io/you-belong-here',
    };

    config.conference = {
      hashtag: '',
      twitter: '',
    };
  -

//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1(style="font-size: 90px; margin-bottom: 0")= config.title
    h3(style="font-size: 43px; margin-bottom: 0")= config.description
    
    p by 
      a(href= config.author.link)= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        | &nbsp; · &nbsp;
        a(href= `mailto:${config.author.email}`)= config.author.email
    
    p
      small Slides: #[a(href= config.slides.link)= config.slides.link.replace('https://', '')]

  +slide
    h1(style="font-size: 100px") 👋 Hi! I’m Jason.
    blockquote.photo-quote
      .photo
        img(
          src="./images/jason-lengstorf.jpg"
          alt="Jason Lengstorf"
        )
      .quote
        ul(style="list-style: none;")
          li Human Duct Tape at Gatsby
          li Formerly: IBM
          li Portland, OR
  
  //- Main content
  +slide
    h2 Open source is #[em incredibly] valuable
  
  +slide
    h3 Open source projects power a #[em huge portion] of the web
    ul
      li.fragment WordPress
      li.fragment React
      li.fragment Drupal
      li.fragment Angular
      li.fragment jQuery
      li.fragment Bootstrap

  +slide
    h3 Open source is #[em great] for businesses
    ul
      li.fragment Leverage the collective knowledge of thousands of developers
      li.fragment Offload development and maintenance costs to the community
      li.fragment Build good will with the community (e.g. Airbnb, Facebook)
      li.fragment Rehabilitate your company’s whole image (e.g. Microsoft)
      li.fragment Improve your ability to attract and retain amazing developers
  
  +slide
    h3 Open source is #[em great] for developers
    ul
      li.fragment Create a body of work that looks great on a CV
      li.fragment Build a referral network for paid work
      li.fragment Turn it into a sustainable source of income
  
  +slide
    h2 However, getting started in open source is #[strong daunting]
  
  +slide
    h3.no-margin OSS maintainers have... #[strong reputations]
    img(
      src="./images/you-belong-here/linus-swearing.png"
      alt="Linus Torvalds being a jerk."
    )
  
  +slide
    h3 OSS projects can be #[strong intimidating]
    ul
      li.fragment Thousands of lines of code
      li.fragment Tons of required context and history

  +slide
    h3.no-margin Learning Git is #[strong challenging]
    img(
      src="./images/you-belong-here/ohshitgit.png"
      alt="Oh shit, git!"
    )
    small.no-margin Credit: 
      a(href="http://ohshitgit.com/") Oh shit, git!

  +slide
    h3.no-margin GitHub can be a little #[strong confusing]
    img(
      src="./images/you-belong-here/github.png"
      alt="GitHub pull request screen."
    )
    aside.notes.
      What’s the difference between “base” and “compare”? What does it mean to compare across forks? Once we’ve learned it, GitHub seems obvious, but to newcomers this is pretty intimidating.

  +slide
    h3 Not to mention the awkward #[strong social dynamics]

  +slide
    h3 #[strong Imposter] Syndrome
    blockquote.twitter-tweet
      p(lang="en" dir="ltr").
        Imposter syndrome: I am surrounded by beings of impossible, cosmic intelligence<br><br>Also imposter syndrome: I, an incompetent, have tricked them all
      | &mdash; Jules Glegg 🏳️‍🌈 (@riotjulesfern) #[a(href="https://twitter.com/riotjulesfern/status/1090663146988044288?ref_src=twsrc%5Etfw") January 30, 2019]
  
  +slide
    h3 #[strong Lack] of Support
    blockquote.twitter-tweet
      p(lang="en" dir="ltr").
        I have first hand experience with this. I spent a few hours working on my first PR a few years ago. The maintainer was rude while giving a short “wrong” answer with no explanation and closed it. Now, unfortunately I rarely contribute to any OSS because of that interaction.
      | &mdash; Jeff Smith (@jspoker) #[a(href="https://twitter.com/jspoker/status/956189208929910784?ref_src=twsrc%5Etfw") January 24, 2018]

  +slide
    h3 Open Source is an #[strong expense] not everyone can afford
    ul
      li.fragment We may not have free time to work on open source
      li.fragment Our jobs may not support contributing as part of our workload
  
  +slide
    h3 Many people #[strong don’t] see themselves represented in open source
  
  +slide
    h2 Is open source #[span.underlined actually] open?

  +slide
    h3 We need to be #[em proactive]#[br]in creating community
    ul
      li.fragment Actively reach out and welcome new contributors
      li.fragment Remember how steep the learning curve can be
      li.fragment Invest in community as a primary measure of success
  
  +slide
    h3 If we don’t, #[strong we lose]
    ul
      li.fragment We lose so many brilliant people who have so much to contribute
      li.fragment We lose an opportunity to add more maintainers
      li.fragment Existing maintainers lose the opportunity to build support networks

  +slide
    h2 Fortunately, we’re seeing a #[em movement]

  +slide
    h3 #[em Welcoming communities] are popping up all over the web
  
  +slide
    img.no-border(
      src="./images/you-belong-here/saronyitbarek.jpg"
      alt="Saron Yitbarek."
      style="max-width: 320px;"
    )
    p.no-margin Saron Yitbarek started #[a(href="https://twitter.com/CodeNewbies") Code Newbies], a space for people learning to code to share and learn together.
  
  +slide
    img.no-border(
      src="./images/you-belong-here/freecodecamp.png"
      alt="Free Code Camp."
      style="max-width: 320px;"
    )
    p.no-margin #[a(href="https://www.freecodecamp.org/") freeCodeCamp] is an online resource and community to help people learn code. 
  
  +slide
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/100DaysOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#100DaysOfCode</a> r3 d19:<br>Spent much of the day shopping <a href="https://twitter.com/hashtag/Gatsbyjs?src=hash&amp;ref_src=twsrc%5Etfw">#Gatsbyjs</a> videos on youtube. Interested in using it with <a href="https://twitter.com/hashtag/WordPress?src=hash&amp;ref_src=twsrc%5Etfw">#WordPress</a>, <a href="https://twitter.com/hashtag/Drupal?src=hash&amp;ref_src=twsrc%5Etfw">#Drupal</a> backends. Did a tiny bit of work on my <a href="https://twitter.com/hashtag/react?src=hash&amp;ref_src=twsrc%5Etfw">#react</a> drum machine project ; best thing I can do for it now is get a good 🌃 of 💤.</p>&mdash; Stephen P (@BxBytesSteph) <a href="https://twitter.com/BxBytesSteph/status/1105679520806383616?ref_src=twsrc%5Etfw">March 13, 2019</a></blockquote>
  
  +slide
    img.no-border(
      src="./images/you-belong-here/hacktoberfest.png"
      alt="Hacktoberfest."
    )

  +slide
    h3 For Gatsby, the open source community is #[span.underlined everything]
    p.fragment.
      We want to be the most welcoming, most inclusive, most fun open source community on the planet.
    p.fragment To accomplish this, we follow a guiding core value...

  +slide
    h2 #[span.underlined You] Belong Here
    aside.notes.
      No matter what your experience level; no matter what your background; no matter where you came from — you belong in open source, and we’re so lucky to have you here.

  +slide
    h3 We #[em deeply believe] that our community will make or break us as a company

  +slide
    h3.no-margin #[em Code of conduct]
    img(
      src="./images/you-belong-here/gatsby-coc.png"
      alt="Gatsby’s code of conduct."
    )

  +slide
    h3.no-margin Commitment to #[em accessibility]
    img(
      src="./images/you-belong-here/gatsby-a11y.png"
      alt="Gatsby’s accessibility statement."
    )

  +slide
    h3.no-margin #[em Extensive] docs
    img(
      src="./images/you-belong-here/gatsby-contributing.png"
      alt="Gatsby’s contributing docs."
    )

  +slide
    h3.no-margin #[em Friendlier] robots
    img(
      src="./images/you-belong-here/gatsbot-close.png"
      alt="Gatsby’s Gatsbot auto-closing issues."
    )

  +slide
    h3.no-margin Implicit #[em trust]
    img(
      src="./images/you-belong-here/holy-buckets.png"
      alt="Gatsby’s Gatsbot inviting a first-time contributor to maintain the organization."
    )

  +slide
    h3.no-margin Active #[em gratitude]
    img(
      src="./images/you-belong-here/gatsby-store.png"
      alt="Gatsby’s swag store."
    )

  +slide
    h3.no-margin Active #[em mentorship]
    img(
      src="./images/you-belong-here/gatsby-pairing.png"
      alt="Gatsby’s pair programming."
    )
  
  +slide
    h4.no-margin We’ve built an #[em active community] 
    img(
      src="./images/you-belong-here/gatsby-activity.png"
      alt="Gatsby’s 30-day activity for March 10 to April 10."
    )
  
  +slide
    h4.no-margin With #[em hundreds] of contributors
    img(
      src="./images/you-belong-here/gatsby-contributors.png"
      alt="Gatsby’s repo home page showing 1,850 contributors."
    )

  +slide
    h4 We want to #[em live the example] of what a great open source community can be

  +slide
    h4 And we’d #[em love] to have you join us
    a(href="https://gatsby.dev/contribute") gatsby.dev/contribute

  +slide
    h3(style="width: 110%") Make Open Source #[em More Open]
    ul
      li.fragment It’s not enough to say people are welcome #[span.fragment — we have to show them]
      li.fragment If we want to see a welcoming and inclusive community, we need to lead by example
      li.fragment Remember: you belong here

  //- Thanks & Resources
  +slide
    h1.no-margin Thanks!
    img(
      src="./images/jason-lengstorf.jpg"
      alt="Jason Lengstorf"
      style="border-radius: 50%; width: 240px; min-width: 0; margin-bottom: 0;"
    )
    p(style="margin-top: 0.25rem;")= config.author.name
      br
      small
        | Follow me on Twitter: 
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`

//- 
  +slide.u--align-left.resourcetext
    h4 Resources
    ol
      li
        a(href="https://gatsbyjs.org").
          Gatsby

block styles
  link(
    rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  )
  script.
    (function(d) {
      var config = {
        kitId: 'fnr1orp',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);

block scripts
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

block extras
  -
    const relatedAccounts = [config.author.twitter];
    
    if (config.conference.twitter) {
      relatedAccounts.push(config.conference.twitter);
    }

    // See https://dev.twitter.com/web/tweet-button/web-intent for parameters.
    const tweetObj = {
      text: `${config.title} by @${config.author.twitter}`,
      hashtags: config.conference.hashtag || '',
      related: relatedAccounts.join(','),
      url: config.slides.link,
    };

    // 
    const e = encodeURIComponent;
    const args = Object.keys(tweetObj).map(key => `${key}=${e(tweetObj[key])}`);
    const tweetUrl = `https://twitter.com/intent/tweet?${args.join('&')}`;
  -
  footer.v2
    ul.inline
      li
        a(
          href= config.slides.link
          title="View the slides online."
        )= config.slides.link.replace('https://', '')
      li
        a(
          href="https://twitter.com/"+config.author.twitter
          title="Find Jason on Twitter"
        ).
          @#{config.author.twitter}
      li
        a.no-icon(
          href=tweetUrl
        ) #{config.conference.hashtag ? `#${config.conference.hashtag}` : ''}
        
