//- Use the presentation layout so we can keep this clean
extends layouts/presentation

block append config
  -
    config.theme = 'lengstorf';
    config.title = 'WordPress Deployment';
    config.description = 'How to Manage Multiple WordPress Installs in 30 Minutes or Less';
    config.slidesLink = 'https://code.lengstorf.com/presentation/wordpress-deployment-for-professionals/slides/';

    config.author = {
      name: 'Jason Lengstorf',
      email: 'jason@lengstorf.com',
      link: 'https://code.lengstorf.com/',
      twitter: 'jlengstorf',
      github: 'jlengstorf',
    };
    
    config.slides = {
      link: 'https://git.io/vy1GU',
    };

    config.conference = {
      hashtag: 'wcatl',
      twitter: false,
    };
  -

//- Add your slides here. See templates/includes/_mixins.pug for information 
//- on how `+slide` works.
block slides
  +slide
    h1= config.title
    h3= config.description
    
    p by 
      a(href= config.author.link)= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email
    
    p
      small Slides: #[a(href= config.slides.link)= config.slides.link.replace('https://', '')]

  //- Front-matter stuff
  +slide.u--align-left.u--text-light.u--text-shadow(data-background="url(./images/bear-background@2x.jpg)")
    h2 Who I Am
    ul
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 
      li.hide-me 

    aside.notes.
      This joke is so terrible. You should be ashamed of yourself.

  +slide.u--align-left.u--text-light.u--text-shadow(data-background="url(./images/jason-lengstorf-slide-bg@2x.jpg)")
    h2 Who I Am
    ul.full-width
      li.fragment Building web shit since 2003
      li.fragment #[em Huge] process &amp; efficiency nerd
      li.fragment Work-life balance advocate / consultant
      li.fragment Senior developer at IBM
      li.fragment Author of 3 books on development stuff
      li.fragment World champion purveyor of bear hugs

  //- Pt. I — WordPress development is complex
  +slide
    h2 Straw Poll
    img.fragment(
      src="./images/deploy-wordpress/live-dangerously.gif"
      alt="Austin Powers"
    )

    aside.notes
      ul
        li Who here works at an agency or large company? And who’s a freelancer?
        li Who here develops locally before deploying? On a development server? In production?

  +slide
    h2 How do you #[strong move] a WordPress install?
    ul
      li.fragment Continuous deployment/integration tool?
      li.fragment Git?
      li.fragment FTP and manual MySQL migration?

  +slide
    img(
      src="./images/deploy-wordpress/wp-migration.png"
    )
  
  +slide
    h3
      | Every manual step#[br]in your dev process increases the risk of 
      strong(style="display: block; font-size: 275%") failure
    p.fragment
      small (This is a good thing to tweet. ##{config.conference.hashtag})

  +slide
    h3 Moving WordPress sites is
      br
      span(
        style="font-size: 104%; opacity: 1"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.9"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.8"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.7"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.6"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.5"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.4"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.3"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.2"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.1"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.05"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.025"
      ) complicated &amp; repetitive
      br
      span(
        style="font-size: 104%; opacity: 0.0125"
      ) complicated &amp; repetitive

  +slide
    h3 People are #[strong really bad] at complicated &amp; repetitive
    img(
      src="./images/deploy-wordpress/lucy-candy-factory-o.gif"
      alt="I Love Lucy"
    )

    aside.notes.
      In fact, people tend to get worse over time at complicated &amp; repetitive tasks.
      We settle in, get bored, and start taking shortcuts.
  
  +slide
    h3 But There's a 
      strong.hugify bigger risk
      | with complex processes

  +slide
    h2 
      span.hugify.alright-calm-down-a-little Nobody #[em Follows] Them

  +slide
    h2 And you end up coding in production.
  
  +slide.u--text-light.u--text-shadow(
    data-background="url(./images/deploy-wordpress/coding-in-production.gif)"
  )
    h3 #codinginproduction

  +slide
    h3 I developed WordPress sites 
      strong.hugify the hard way
      |  for way, way, #[em way] too long

  +slide
    h2 Then I accidentally the #[strong whole server]

    aside.notes.
      I was trying to develop a plugin that did something with images, and I 
      wrote a cleanup function that was #[em really good] at cleaning up.

  +slide
    h2 ...and I was hosting 8 client sites on it...

    aside.notes.
      At the time, I was using a shared hosting plan, and I’d just create a new folder
      and add a new site in cPanel and create a new database and let ’er rip.

  +slide
    h3 ...and I didn't have backups

  +slide
    h2 So I #[em evolved]
    img(
      src="./images/deploy-wordpress/evolve.gif"
      alt="Pokemon"
    )

  +slide
    h2 First there was
      em.hugify WPEngine

  +slide
    h3 WPEngine and its ilk offer:
    ul(style="width: 85%")
      li.fragment Git Deployment
      li.fragment Automated Backups
      li.fragment Update Management
      li.fragment Staging Installs w/One-Click Migration
    
    aside.notes.


  +slide
    h3 ...but they're #[strong 'spensive]
    img(
      src="./images/deploy-wordpress/spensive.gif"
      alt="'spensive"
    )

    aside.notes.
      I tried to sell my clients on WPEngine, but many of them balked at $29/month. Plus,
      that cut into my ability to charge for ongoing maintenance.

  +slide
    h3 Managed WordPress hosting doesn't solve the problem of #[em local development]

  +slide
    h1 Questions?
    p= config.author.name
      br
      small
        a(href= `https://twitter.com/${config.author.twitter}`)= `@${config.author.twitter}`
        |  | 
        a(href= `mailto:${config.author.email}`)= config.author.email

  //- Resources
  +slide.resourcetext
    h3 Resources
    ol
      li
        a(
          href="https://roots.io/trellis/"
        ) Trellis
      li
        a(
          href="https://deliciousbrains.com/wp-migrate-db-pro/"
        ) WP Migrate DB Pro


block styles
  link(
    rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  )
  script.
    (function(d) {
      var config = {
        kitId: 'fnr1orp',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);

block extras
  -
    const relatedAccounts = [config.author.twitter];
    
    if (config.conference.twitter) {
      relatedAccounts.push(config.conference.twitter);
    }

    // See https://dev.twitter.com/web/tweet-button/web-intent for parameters.
    const tweetObj = {
      text: `${config.title} by @${config.author.twitter}`,
      hashtags: config.conference.hashtag || '',
      related: relatedAccounts.join(','),
      url: config.slidesLink,
    };

    // 
    const e = encodeURIComponent;
    const args = Object.keys(tweetObj).map(key => `${key}=${e(tweetObj[key])}`);
    const tweetUrl = `https://twitter.com/intent/tweet?${args.join('&')}`;
  -
  .hashtag
    p
      | Tweet: 
      a(
        href=tweetUrl
        target="_blank"
      ) @#{config.author.twitter} 
        | #{config.conference.hashtag ? `#${config.conference.hashtag}` : ''}
  footer
    ul.inline
      li
        | “#{config.title}” by 
        a(href= config.author.link)= config.author.name
        |  (slides: 
        a(href= config.slides.link)= config.slides.link.replace('https://', '')
        | )
      li
        a(href="https://twitter.com/"+config.author.twitter).
          @#{config.author.twitter}
      li
        a(href="https://github.com/"+config.author.github).
          github.com/#{config.author.github}
